<header class="header container-fluid px-0">

    <div class="row mx-0">

        <div class="col-lg-2 px-0">

            <a href="{{ path('homepage') }}">
                <img src="{{ asset('assets/images/logo/logo.png') }}"
                     alt="amicale des anciens guérilleros espagnols en france - forces françaises de l'intérieur"
                     class="img-fluid">
            </a>

        </div>

        <div class="col-lg-10 px-0">

            <nav class="row mx-0">

                <div class="col-lg-1 offset-lg-9">

                    <a href="#">
                        <img src="{{ asset('assets/images/icons/zoom.png') }}" alt="zoom" title="Taille du texte">
                    </a>

                    <a href="#">
                        <img src="{{ asset('assets/images/icons/brightness.png') }}" alt="contraste" title="Contraste">
                    </a>

                </div>

                <div class="col-lg-1">

                    <a href="#">
                        <img src="{{ asset('assets/images/icons/fraFlag.png') }}" alt="français" title="Français">
                    </a>

                    <a href="#">
                        <img src="{{ asset('assets/images/icons/spaFlag.png') }}" alt="espagnol" title="Espagnol">
                    </a>

                </div>

                <div class="col-lg-1">

                    <input class="search_input" type="text" name="" placeholder="Rechercher..." aria-label="Rechercher">
                    <a href="#" class="search_icon">
                        <i class="fas fa-search"></i>
                    </a>

                </div>

            </nav>

            <div class="row mx-0">

                <div class="col-lg-12">

                    <h1>AAGEF-FFI section de la Gironde</h1>
                    <h2>Amicale des Anciens Guérilleros Espagnols en France - FFI</h2>

                </div>

            </div>

        </div>

    </div>

    <nav class="row mx-0">

        <div class="col-lg-12">

            <ol>
                <li>
                    <i class="fas fa-home"></i> Accueil
                </li>
            </ol>

        </div>

    </nav>

</header>