<header class="container-fluid px-0 header">

    <div class="row pb-2 mx-0">

        <div class="col-lg-2 pt-3 pr-4 text-right">

            <!-- Display logo -->

            <a href="{{ path('homepage') }}">
                <img src="{{ asset('assets/images/logo/logo.png') }}"
                     alt="amicale des anciens guérilleros espagnols en france - forces françaises de l'intérieur"
                     class="img-fluid headerBranding_logo">
            </a>

        </div>

        <div class="col-lg-10 px-0">

            <nav class="navbar row px-0 mr-0 headerBranding_navbar">

                <!-- Accessibility toggles -->

                <div class="col-lg-1 offset-lg-8 pr-4 pl-0 d-flex justify-content-end">

                    <a href="#"><img src="{{ asset('assets/images/icons/zoom.png') }}"
                                     alt="zoom" title="Taille du texte" class="mr-1 headerBranding_accessibility">
                    </a>

                    <a href="#"><img src="{{ asset('assets/images/icons/brightness.png') }}"
                                     alt="contraste" title="Contraste" class="ml-1 headerBranding_accessibility">
                    </a>

                </div>

                <!-- Language toggle -->

                <div class="col-lg-1 px-0 d-flex justify-content-center">

                    <a href="#"><img src="{{ asset('assets/images/icons/fraFlag.png') }}"
                                     alt="français" title="Français" class="mr-1 headerBranding_langFlag">
                    </a>

                    <a href="#"><img src="{{ asset('assets/images/icons/spaFlag.png') }}"
                                     alt="espagnol" title="Castillan" class="ml-1 headerBranding_langFlag">
                    </a>

                </div>

                <!-- Search field-->

                <div class="col-lg-2 px-0">

                    <input class="form-control ml-4 rounded-pill headerBranding_searchField"
                           type="search" placeholder="Rechercher" aria-label="Rechercher">
                    <button class="btn btn-outline-success my-2 my-sm-0 headerBranding_searchField__btn"
                            type="submit">
                    </button>

                </div>

            </nav>

            <!-- Branding name -->

            <div class="row pl-2 mx-0 bg-transparent">

                <div class="col-lg-12 px-0">

                    <h1 class="headerBranding_siteName__name">AAGEF-FFI section de la Gironde</h1>
                    <h2 class="headerBranding_siteName__society">Amicale des Anciens Guérilleros Espagnols en France - FFI</h2>

                </div>

            </div>

        </div>

    </div>

    <!-- Breadcrumb -->

    <nav class="row mx-0 headerBreadcrumb" aria-label="breadcrumb">

        <div class="col-lg-12 px-0">

            <ul class="breadcrumb py-0 pl-5 my-0 rounded-0 headerBreadcrumb">
                <li class="d-flex align-items-center breadcrumb-item" aria-current="page">
                    <i class="fas fa-home"></i>{{ wo_render_breadcrumbs() }}
                </li>
            </ul>

        </div>

    </nav>

</header>