{% extends 'base.html.twig' %}

{% block title %}Añadir personas{% endblock %}

{% block body %}

    <article>

        {{ form_start(personFormView) }}

            <div class="form-group">
                {{ form_label(personFormView.lastName, 'Apellido(s)') }}
                {{ form_errors(personFormView.lastName) }}
                {{ form_widget(personFormView.lastName,
                    { 'attr':
                        {
                            'class': 'form-control-lg',
                            'placeholder': 'Apellido(s)'
                        }
                    },
                    {
                        'id': ''
                    })
                }}
            </div>

            <div>
                {{ form_label(personFormView.firstName, 'Nombre(s)') }}
                {{ form_errors(personFormView.firstName) }}
                {{ form_widget(personFormView.firstName,
                    { 'attr':
                        {
                            'class': 'form-control-lg',
                            'placeholder': 'Nombre(s)'
                        }
                    },
                    {
                        'id': ''
                    })
                }}
            </div>

            <div>
                {{ form_label(personFormView.birthDate, 'Fecha de nacimiento') }}
                {{ form_errors(personFormView.birthDate) }}
                {{ form_widget(personFormView.birthDate) }}
            </div>

            <div>
                {{ form_label(personFormView.birthPlace, 'Lugar de nacimiento') }}
                {{ form_errors(personFormView.birthPlace) }}
                {{ form_widget(personFormView.birthPlace,
                    { 'attr':
                        {
                            'class': 'form-control-lg',
                            'placeholder': 'Lugar del nacimiento'
                        }
                    },
                    {
                        'id': ''
                    })
                }}
            </div>

            <div>
                {{ form_label(personFormView.homePlace, 'Lugar de domicilio') }}
                {{ form_errors(personFormView.homePlace) }}
                {{ form_widget(personFormView.homePlace,
                    { 'attr':
                        {
                            'class': 'form-control-lg',
                            'placeholder': 'Lugar de domicilio'
                        }
                    },
                    {
                        'id': ''
                    })
                }}
            </div>

            <div>
                {{ form_label(personFormView.job, 'Profesión') }}
                {{ form_errors(personFormView.job) }}
                {{ form_widget(personFormView.job,
                    { 'attr':
                        {
                            'class': 'form-control-lg',
                            'placeholder': 'Profesión'
                        }
                    },
                    {
                        'id': ''
                    })
                }}
            </div>

            <div>
                {{ form_label(personFormView.deathDate, 'Fecha de fallecimiento') }}
                {{ form_errors(personFormView.deathDate) }}
                {{ form_widget(personFormView.deathDate) }}
            </div>

            <div>
                {{ form_label(personFormView.deathPlace, 'Lugar del fallecimiento') }}
                {{ form_errors(personFormView.deathPlace) }}
                {{ form_widget(personFormView.deathPlace,
                    { 'attr' :
                        {
                            'class': 'form-control-lg',
                            'placeholder': 'Lugar del fallecimiento'
                        }
                    },
                    {
                        'id': ''
                    })
                }}
            </div>

            <div>
                {{ form_row (personFormView.submit,
                    {'attr':
                        {
                            'class': 'btn btn-primary'
                        }
                    })
                }}
            </div>

        {{ form_end(personFormView) }}

    </article>

{% endblock %}