{% extends 'base.html.twig' %}

{% block title %}Ajouter un lieu{% endblock %}

{% block body %}

    <article>

        {{ form_start(locationFormView) }}

            <div class="form-group">
                {{ form_label(locationFormView.city, 'Commune') }}
                {{ form_errors(locationFormView.city) }}
                {{ form_widget(locationFormView.city,
                    { 'attr':
                        {
                            'class': 'form-control-lg',
                            'placeholder': 'Commune'
                        }
                    },
                    {
                        'id': ''
                    })
                }}
            </div>

            <div>
                {{ form_label(locationFormView.zipCode, 'Code postal') }}
                {{ form_errors(locationFormView.zipCode) }}
                {{ form_widget(locationFormView.zipCode,
                    { 'attr':
                        {
                            'class': 'form-control-lg',
                            'placeholder': 'Code postal'
                        }
                    },
                    {
                        'id': ''
                    })
                }}
            </div>

            <div>
                {{ form_row (locationFormView.submit,
                    {'attr':
                        {
                            'class': 'btn btn-primary'
                        }
                    })
                }}
            </div>

        {{ form_end(locationFormView) }}

    </article>

{% endblock %}