{% extends 'base.html.twig' %}

{% block title %}Mise à jour des données d'un individu | AAGEF-FFI section de la Gironde{% endblock %}

{% block main %}

    <article>

        <div class="container p-5 formContainer">

            {{ form_start(personFormView) }}

                <div class="row mb-5">

                    <div class="col-lg text-center">

                        <h2 class="font-weight-bold text-uppercase formTitle">modifier un individu</h2>

                    </div>

                </div>

                <div class="row mb-3 mx-5">

                    <div class="col-lg-6 pl-0 d-flex flex-column">

                        {{ form_label(personFormView.lastName, 'Nom(s)',
                            {'label_attr':
                                {
                                    'class': 'form_fieldLabel'
                                }
                            }
                        )}}
                        {{ form_errors(personFormView.lastName) }}
                        {{ form_widget(personFormView.lastName,
                            { 'attr' :
                                {
                                    'class' : 'formField',
                                    'placeholder': "Nom(s)"
                                }
                            },
                            {
                                'id': ''
                            }
                        )}}

                    </div>

                    <div class="col-lg-6 pr-0 d-flex flex-column">

                        {{ form_label(personFormView.firstName, 'Prénom(s)',
                            {'label_attr':
                                {
                                    'class': 'form_fieldLabel'
                                }
                            }
                        )}}
                        {{ form_errors(personFormView.firstName) }}
                        {{ form_widget(personFormView.firstName,
                            {'attr' :
                                {
                                    'class' : 'formField',
                                    'placeholder': 'Prénom(s)'
                                }
                            },
                            {
                                'id': ''
                            }
                        )}}

                    </div>

                </div>

                <div class="row mb-3 mx-5">

                    <div>

                        {{ form_label(personFormView.birthDate, 'Né le',
                            {'label_attr':
                                {
                                    'class': 'form_fieldLabel'
                                }
                            }
                        )}}
                        {{ form_errors(personFormView.birthDate) }}
                        {{ form_widget(personFormView.birthDate,
                            {'attr':
                                {
                                    'class': 'form_dateField'
                                }
                            },
                            {
                                'id': ''
                            }
                        )}}

                    </div>

                    <div>

                        {{ form_label(personFormView.birthLocation, 'à',
                            {'label_attr':
                                {
                                    'class': 'form_fieldLabel'
                                }
                            }
                        )}}
                        {{ form_errors(personFormView.birthLocation) }}
                        {{ form_widget(personFormView.birthLocation,
                            {'attr':
                                {
                                    'class': 'formField',
                                    'placeholder': 'Lieu de naissance'
                                }
                            },
                            {
                                'id': ''
                            }
                        )}}

                    </div>

                </div>

                    <div>
                        {{ form_label(personFormView.deathDate, 'Décédé le',
                            {'label_attr':
                                {
                                    'class': 'form_fieldLabel'
                                }
                            }
                        )}}
                        {{ form_errors(personFormView.deathDate) }}
                        {{ form_widget(personFormView.deathDate) }}
                    </div>

                    <div>
                        {{ form_label(personFormView.deathLocation, 'à',
                            {'label_attr':
                                {
                                    'class': 'form_fieldLabel'
                                }
                            }
                        )}}
                        {{ form_errors(personFormView.deathLocation) }}
                        {{ form_widget(personFormView.deathLocation,
                            { 'attr':
                                {
                                    'class': 'formField',
                                    'placeholder': 'Lieu de décès'
                                }
                            },
                            {
                                'id': ''
                            })
                        }}
                    </div>

                    <div class="col-lg-6 offset-lg-3 pt-3 pl-0 text-right">

                        <a href="#">
                            <input class="formSubmit_button" type="submit" value="Rechercher">
                        </a>

                    </div>

                </div>

            {{ form_end(personFormView) }}

        </div>

    </article>

{% endblock %}