{% extends 'base.html.twig' %}

{% block title %}Recherche nominative | AAGEF-FFI - Les Résistants espagnols en Gironde 1939-1945{% endblock %}

{% block main %}

    {{ form_start(searchForm) }}

    <div>

        <div>
            {{ form_errors(searchForm.search) }}
            {{ form_widget(searchForm.search, {'attr': {'class': 'form-control', 'placeholder': 'Rechercher'}}) }}
        </div>

        <div>
            {{ form_widget(searchForm.submit, {'attr': {'class': 'btn btn-primary' }}) }}
        </div>

    </div>

    {{ form_end(searchForm) }}

{% endblock %}