{% extends 'base.html.twig' %}

{% block title %}Recherche nominative | AAGEF-FFI - Les Résistants espagnols en Gironde 1939-1945{% endblock %}

{% block main %}

    <article>
        <table>
            <thead>
            <tr>
                <th>Nom(s)</th>
                <th>Prénom(s)</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                <th>Date de décès</th>
                <th>Lieu de décès</th>
            </tr>
            </thead>
            <tbody>

            {% for person in personList %}
                <tr>
                    <td>{{ person.lastName }}</td>
                    <td>{{ person.firstName }}</td>
                    <td>{{ person.birthDate|date('d F Y') }}</td>
                    <td>{{ person.birthLocation }}</td>
                    <td>{% if person.deathDate %}
                        {{ person.deathDate|date('d F Y') }}</td>
                    {% elseif person.deathDate == '' %}
                    {% endif %}
                    <td>{{ person.deathLocation }}</td>
                    <td>
                        <a href="#">
                            <i class="far fa-eye" title="Afficher le document"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>

{% endblock %}
